<div class="pagination">
  <button [disabled]="value.page === 1" (click)="selectPage(1)"><<</button>
  <button [disabled]="value.page === 1" (click)="selectPage(value.page - 1)">
    <
  </button>
  <button *ngFor="let page of visiblePages" (click)="selectPage(page)">
    {{ page }}
  </button>
  <button
    [disabled]="value.page === totalPages"
    (click)="selectPage(value.page + 1)"
  >
    >
  </button>
  <button
    [disabled]="value.page === totalPages"
    (click)="selectPage(totalPages)"
  >
    >>
  </button>
</div>

<select [ngModel]="value.pageSize" (ngModelChange)="selectPageSize($event)">
  <option *ngFor="let size of pageSizes" [value]="size">{{ size }}</option>
</select>
