<h1>Orders</h1>

<input type="search" aria-label="didd" [(ngModel)]="query" />
<div>
  <table>
    <tr>
      <th [appSort]="orders" data-order="desc" data-name="id">No. of order</th>
      <th [appSort]="orders" data-order="desc" data-name="name">
        Name of order
      </th>
      <th [appSort]="orders" data-order="desc" data-name="client" data-order>
        Client
      </th>
      <th [appSort]="orders" data-order="desc" data-name="status">Status</th>
      <th [appSort]="orders" data-order="desc" data-name="date">Date</th>
      <th [appSort]="orders" data-order="desc" data-name="price">Price</th>
    </tr>

    <tr *ngFor="let order of orders | SearchPipe: query">
      <td>{{ order.id }}</td>
      <td>{{ order.name }}</td>
      <td>{{ order.client }}</td>
      <td>Open</td>
      <td>{{ order.date }}</td>
      <td>{{ order.price }}</td>
      <button (click)="deleteRow(order)">Delete</button>
    </tr>
  </table>

  <div>
    <app-pagination
      [total]="visibleItems.total"
      [formControl]="paginationControl"
    ></app-pagination>
  </div>
</div>
