<h1>Orders</h1>

<input type="search" aria-label="didd" [(ngModel)]="query" />
<div>
  <table>
    <tr>
      <th>No. of order</th>
      <th>Name of order</th>
      <th>Client</th>
      <th>Status</th>
      <th>Date</th>
      <th>Price</th>
    </tr>

    <tr *ngFor="let order of orders | SearchPipe: query">
      <td>{{ order.id }}</td>
      <td>{{ order.name }}</td>
      <td>{{ order.client }}</td>
      <td>Open</td>
      <td>{{ order.date }}</td>
      <td>{{ order.price }}</td>
    </tr>
  </table>

  <div>
    <app-pagination
      [total]="visibleItems.total"
      [formControl]="paginationControl"
    ></app-pagination>
  </div>
</div>
